<form action="" method="get">
    <label>Imagen: <input type="file" name="imagenProducto" required></label> <br>
    <label>Nombre de producto: <input type="text" name="nombreProducto" required></label> <br>
    <label>Descripción: <input type="text" name="descripcionProducto" required></label> <br>
    <button type="submit">Agregar</button>
</form>