<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="images/logo-mercado-liebre.png" />

	<title>Argento shirts</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<%- include('partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/usuario/nuevoUsuario" method="POST">
					<label>Email: <input type="email" name="emailReg" required></label> <br>
					<label>Usuario: <input type="text" name="usuarioReg" required></label> <br>
					<label>Contraseña: <input type="password" name="passwordReg" required></label> <br>
					<label>Fecha de nacimiento: <input type="date" name="fechaDeNacimientoReg" required></label> <br>
					<label>Numero de documento: <input type="number" name="nroDocumentoReg" required></label> <br>
					<label>Foto de perfil: <input type="text" name="fotoPerfilReg" required></label> <br>
					<button type="submit">Registrarse</button>
				</form>
	
			</h2>
					<% if (error != undefined) { %>
				<%= error %>
			  <% } %>



	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>